@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");

// Primary
$soft-blue: hsl(231, 69%, 60%);
$soft-red: hsl(0, 94%, 66%);

// Neutral
$grayish-blue: hsl(229, 8%, 60%);
$very-dark-blue: hsl(229, 31%, 21%);

@mixin primaryBtn {
	display: block;
	font-size: 0.9rem;
	font-weight: 500;
	padding: 1rem;
	border-radius: 5px;
    border: 0;
	background: $soft-blue;
	color: white;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
}

//blue
@mixin primaryBtnHover {
    background: white;
    outline: 2px solid $soft-blue;
    color: $soft-blue;
}

//red 
@mixin secondaryBtnHover {
        background: white;
        outline: 2px solid $soft-red;
        color: $soft-red;
}

html {
	box-sizing: border-box;
	font-size: 16px;
}
*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}



a {
	color: inherit;
}

.mobile-menu {
    overflow: hidden;
    min-height: 100vh;
    min-width: 100vw;
    background-color: $very-dark-blue;
    opacity: .95;
	top: 0;
    bottom:0;
    position:fixed;
    overflow-y:scroll;
    overflow-x:hidden;
    transform: translateX(100%);
    transition: 0.5s transform ease;
    z-index: 2;
	padding: 2.5rem 2rem;
	display: flex;
	flex-direction: column;
    .mobile-menu-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .mobile-menu-logo {
        filter: invert(1) brightness(1000%);
        cursor: pointer;
    }
    .mobile-menu-close {
        cursor: pointer;
    }

    .mobile-menu-nav {
        display: flex;
		align-items: center;
        flex-direction: column;
		list-style-type: none;
		text-transform: uppercase;
        margin-top: 2rem;
		li {
			color: white;
			letter-spacing: 3px;
			font-weight: 200;
			cursor: pointer;
            font-size: 1rem;
            width: 100%;
            text-align: center;
            border-top: 1px solid rgba($grayish-blue, 0.3);
            padding: 1rem 0;
            &:hover {
                color: $soft-red;
            }
            &:nth-last-child(2) {
                border-bottom: 1px solid rgba($grayish-blue, 0.3);
            }
            a {
                text-decoration: none;  
            }
            a:visited {
                color: white;
            }
        }
        .login-container {
            width: 100%;
            border: 2px solid white;
            border-radius: 5px;
            margin-top: 1.25rem;
            font-weight: 500;
            padding: .6rem 0;
            &:hover {
                border-color: $soft-blue
            }
            &:hover a {
                color: $soft-blue;
            }
        }
    }
    .mobile-social-logo-flex {
		position: relative;
		align-self: center;
		margin-top: auto;
		padding-top: 1.5rem;
        display: flex;
        gap: 2rem;
        .social-logo {
            cursor: pointer;
			&:hover {
                filter: brightness(0) saturate(100%) invert(53%) sepia(75%) saturate(4004%) hue-rotate(329deg) brightness(102%) contrast(95%);
            }
        }
    }
}







input:focus {
	outline: none;
}

body {
	font-family: Rubik;
	width: 100vw;
	overflow-x: hidden;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 2.5rem 2rem 0;
}
.logo {
	cursor: pointer;
}
.header-nav {
	display: none;
    li {
        &:hover {
            color: $soft-red
        }
    }
}
.hamburger {
	width: 18px;
	height: 15px;
	cursor: pointer;
}

.hero {
	margin: 4.5rem 0 5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	.hero-img-container {
		position: relative;
		width: 100%;
	}
	.hero-img {
		padding-bottom: 3.25rem;
		width: 100%;
		transform: scale(0.95);
	}
	.hero-img-shadow {
		position: absolute;
		top: 20%;
		right: 0;
		z-index: -1;
		width: 81%;
		border-bottom-left-radius: 100px;
		height: 65%;
		background-color: $soft-blue;
	}
	h1 {
		font-size: 1.9rem;
		font-weight: 500;
		line-height: 110%;
		text-align: center;
		color: $very-dark-blue;
	}
	.hero-p {
		max-width: 28rem;
		padding-top: 1.5rem;
	}
}
p {
	color: rgba($grayish-blue, 0.9);
	line-height: 1.5rem;
	padding-bottom: 1.8rem;
	text-align: center;
	font-weight: 400;
	font-size: 0.95rem;
	max-width: 31rem;
	margin: 0 2.55rem 0;
	letter-spacing: 0.2px;
}
h2 {
	color: $very-dark-blue;
	font-size: 1.5rem;
	text-align: center;
	padding-bottom: 0.65rem;
}
.hero-flex-left {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.hero-cta-flex {
	display: flex;
	gap: 1rem;
	padding-bottom: 4.5rem;
}
.hero-cta-btn {
	@include primaryBtn;
    &:hover {
        @include primaryBtnHover
    }
	&:nth-of-type(2) {
		background: white;
		color: $very-dark-blue;
		box-shadow: 1px 1px 10px rgba($grayish-blue, 0.5);
        &:hover {
            @include primaryBtnHover;
            color: $very-dark-blue;
            outline: 2px solid $very-dark-blue
        }
	}
}

.feature-section {
	margin-bottom: 7.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.feature-p {
	margin: 0 2.55rem;
}

.feature-slider {
	list-style: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 1rem;
	border-top: 1.5px solid rgba($grayish-blue, 0.25);
	width: 85%;
	max-width: 450px;
	margin: 0 auto 3.5rem;
	.feature-tab {
		padding: 1.1rem 0;
		border-bottom: 1.5px solid rgba($grayish-blue, 0.25);
		width: 100%;
		text-align: center;
		position: relative;
		cursor: pointer;
		white-space: nowrap;
        &:hover {
            color: $soft-red
        }
        // selected underline on feature tab
		&.selected::after {
			content: "";
			position: absolute;
			bottom: 0;
			height: 4px;
			right: 50%;
			transform: translateX(50%);
			width: 44%;
			background-color: $soft-red;
		}
	}
}

.feature-img-container {
	position: relative;
	width: 100%;
}
.feature-img {
	padding: 0 0 3.25rem;
	width: 100%;
	transform: scale(0.82);
	align-self: flex-start;
}
.feature-img-shadow {
	position: absolute;
	top: 20%;
	left: -22%;
	z-index: -1;
	width: 90%;
	border-bottom-right-radius: 100px;
	height: 67%;
	background-color: $soft-blue;
}
.feature-desc {
	max-width: 26rem;
}
.feature-btn {
	display: none;
}

.feature-flex-right {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.download-section {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.cards-flex {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
}
.card {
	margin: 0 3rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 15px;
	box-shadow: 0px 12px 12px -12px rgba(#b9bdf1, 0.3),
		0px 12px 12px 0px rgba(#b9bdf1, 0.3);

	max-width: 400px;
}
.card-top {
	padding: 3rem 3rem 2.25rem;
	display: flex;
	flex-direction: column;
	text-align: center;
	& > .card-logo {
		padding-bottom: 1.25rem;
		transform: scale(0.75);
	}
	& > h3 {
		padding-bottom: 0.6rem;
	}
	& > h4 {
		color: $grayish-blue;
		font-weight: 300;
		font-size: 0.85rem;
	}
}
.card > .dots {
	display: block;
	width: 100%;
}

.card-bottom {
	margin: 1.65rem 0.5rem;
}
.card-btn {
	@include primaryBtn;
	padding: 0.9rem 2.5rem;
	width: 100%;
    cursor: pointer;
    &:hover {
        @include primaryBtnHover
    }
}

.faq-section {
	padding: 9.5rem 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	.faq-title {
		padding: 0 4rem 1.25rem;
	}
	p {
		max-width: 30rem;
	}
}
.faq-accordion {
	margin-bottom: 2rem;
}
.question-flex {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	margin: 0 2rem;
	border-bottom: 1px solid rgba($grayish-blue, 0.3);
	padding: 1.5rem 0 1rem;
	cursor: pointer;
	max-width: 20rem;
}
.question-container {
	display: flex;
	justify-content: space-between;
	width: 100%;
	cursor: pointer;
}
.question {
	color: $very-dark-blue;
	padding-right: 1rem;
}

$faq-transition-duration: .75s;

.answer {
	color: $grayish-blue;
	position: relative;
	max-height: 0;
	overflow: hidden;
    overflow-y: auto;
	line-height: 30px;
	padding-right: 1.675rem;
	font-size: 15px;
	transition: all $faq-transition-duration ease;
}
.question-flex.active .answer {
	padding-top: 1.5rem;
	max-height: 800px;
	
}	
.question-flex.active .arrow {
	transform: rotate(180)
}	
.arrow {
	align-self: center;
	width: auto;
	height: 10px;
	transition: all $faq-transition-duration ease;
}

.faq-btn {
	@include primaryBtn;
	display: inline-block;
    &:hover {
        @include primaryBtnHover
    }
}

.footer-cta-section {
	background: $soft-blue;
	color: white;
	padding: 4.85rem 1.5rem 3.75rem;
	small {
		text-transform: uppercase;
		letter-spacing: 4px;
		display: block;
		text-align: center;
		padding-bottom: 0.75rem;
	}
	h2 {
		color: white;
		margin-bottom: 1.5rem;
	}
	.footer-cta-flex {
		display: flex;
		flex-direction: column;
        align-items: center;
		gap: 1rem;
	}
	.footer-cta-email,
	.footer-cta-btn {
		display: block;
		@include primaryBtn;
        width: 100%;
        max-width: 350px
	}
	.footer-cta-email {
		background: white;
		border: 0;
		color: $very-dark-blue;
		text-align: left;
		cursor: default;
		&::placeholder {
			color: rgb(175, 175, 175);
			text-align: left;
		}
	}
	.footer-cta-btn {
		background-color: $soft-red;
		border: 0;
		white-space: nowrap;
        &:hover {
            @include secondaryBtnHover
        }
	}
}

footer {
	background: $very-dark-blue;
	color: white;
	text-transform: uppercase;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2.75rem 0 2.9rem;
	.footer-logo {
		filter: invert(1) brightness(300%);
		cursor: pointer;
	}
	.footer-nav {
		list-style-type: none;
		display: flex;
		flex-direction: column;
		gap: 2rem;
		text-align: center;
		letter-spacing: 2px;
		font-size: 1rem;
		color: #ccc;
		padding: 2.5rem 0 3rem;
		li {
			cursor: pointer;
            &:hover {
                color: $soft-red
            }
		}
	}
	.social-logo-flex {
		display: flex;
		gap: 2.75rem;
		.social-logo {
			cursor: pointer;
            &:hover {
                filter: brightness(0) saturate(100%) invert(53%) sepia(75%) saturate(4004%) hue-rotate(329deg) brightness(102%) contrast(95%);
            }
		}
	}
}

// Desktop
@media (min-width: 768px) {
	body {
		position: relative;
	}
	.mobile-menu {
		display: none;
	}
	header {
		padding: 2.5rem 10vw 0;
		align-items: center;
		.hamburger {
			display: none;
		}
	}
	.header-nav {
		display: flex;
		align-items: center;
		gap: 1rem;
		list-style-type: none;
		text-transform: uppercase;
		li {
			@include primaryBtn;
			color: $very-dark-blue;
			background-color: white;
			letter-spacing: 2px;
			font-weight: 400;
			font-size: 0.825rem;
			cursor: pointer;
			&:last-child {
				padding: 0;
				a {
					background: hsl(0, 94%, 66%);
					padding: 0.75rem 2.2rem;
					color: white;
					text-decoration: none;
					border-radius: 5px;
					&:visited {
						color: white;
					}
                    &:hover {
                        background: white;
                        outline: 2px solid $soft-red;
                        color: $soft-red;
                    }
				}
			}
		}
	}
	h2 {
		font-size: 1.75rem;
		padding-bottom: 1.15rem;
	}
	p {
		font-size: 16px;
		margin-left: 0;
		margin-right: 0;
	}
	.hero {
		padding-left: 10vw;
		flex-direction: row;
		gap: 5rem;
		h1 {
			font-size: clamp(2rem, 3.5vw, 3rem);
			text-align: left;
		}
		.hero-p {
			text-align: left;
			padding-bottom: 0;
		}
		.hero-flex-left {
			order: -1;
			margin-left: 0;
			flex-basis: 70%;
			align-items: start;
		}
		.hero-cta-flex {
			justify-content: flex-start;
			padding-top: 2rem;
			width: 100%;
		}
		.hero-img-shadow {
			top: 28%;
			max-width: 485px;
			height: 60%;
		}
	}

	.cards-flex {
		flex-direction: row;
		justify-content: center;
		gap: 2rem;
		margin: 0 1rem;
		.card {
			margin: 0;
		}
	}

	.feature-p {
		padding-bottom: 3rem;
	}
	.feature-slider {
		flex-direction: row;
		border-top: 0;
		justify-content: center;
		width: 100%;
		max-width: 700px;
		.feature-tab {
			padding: 0 auto 1.5rem;
			flex: 1 1 0px;
			&.selected::after {
				width: 100%;
			}
		}
	}
	.feature-flex {
		display: flex;
		justify-content: center;
		align-items: center;
		padding-bottom: 9rem;
		.feature-flex-right {
			h2,
			p,
			.btn {
				text-align: left;
			}
			p {
				padding: 0;
			}
			.feature-btn {
				@include primaryBtn;
				display: inline-block;
				padding: 0.85rem 1.5rem;
				margin-top: 2rem;
				cursor: pointer;
                &:hover {
                    @include primaryBtnHover
                }
			}
		}
	}
	.feature-img {
		transform: scale(1);
		padding: 0 0 0 10vw;
		height: 50vh;
		max-height: 900px;
	}
	.feature-flex-left {
		position: relative;
	}
	.feature-img-shadow {
		position: absolute;
		top: 25%;
		padding-left: 5rem;
		height: 100%;
		border-bottom-right-radius: 45%;
	}
	.feature-flex > * {
		width: 50%;
		text-align: left;
	}
	.feature-flex-right {
		padding: 0 12vw 0 9vw;
		align-items: flex-start;
	}

	.download-section {
		padding-bottom: 5rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		p {
			padding-bottom: 3rem;
		}
		.cards-flex {
			position: relative;
		}
		.card:nth-child(2) {
			position: relative;
			top: 2.5rem;
		}
		.card:nth-child(3) {
			position: relative;
			top: 5rem;
		}
	}
	.faq-section {
		.question-flex {
			max-width: 30rem;
		}
		.question {
			padding-right: 11rem;
		}
	}
	.footer-cta-section {
		padding-bottom: 5rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		small {
			padding-bottom: 2.5rem;
		}
		h2 {
			max-width: 28rem;
			text-align: center;
		}
		.footer-cta-flex {
			flex-direction: row;
			justify-content: center;
			.footer-cta-email {
				flex-basis: 250%;
				max-width: 300px;
			}
			.footer-cta-btn {
				display: inline-block;
				width: auto;
			}
		}
	}

	footer {
		flex-direction: row;
		align-items: center;
		height: 7rem;
		padding: 0 10vw;
		.footer-nav-logo-flex {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			flex-basis: 100%;
		}
		.footer-nav {
			flex-direction: row;
			justify-content: center;
			padding: 0 0 0 5rem;
			gap: 3rem;
			font-size: 0.9rem;
		}
		.social-logo-flex {
			display: flex;
			gap: 2rem;
            margin-left: 1rem;
		}
	}
}
